<div class="single" data-display="block">
  {{ if eq .Type "blog" }}
    <div class="single__title">
      {{ .Title }}
    </div>
    <div class="single__meta">
      {{ partial "main/component/article-meta.html" . }}
    </div>
  {{ end }}

  <article class="single__contents" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
    {{ .Content }}
    {{ if and .Lastmod (not ($.Param "hidden-timeliness")) }}
      <p class="last-modified">{{ i18n "last-modified" }}<time datetime="{{ .Lastmod | time.Format "2006-01-02T15:04:05Z0700" }}">{{ .Lastmod | time.Format (i18n "summary-dateformat") }}</time></p>
    {{ end }}
  </article>
</div>
